@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
}

html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Add smooth scrolling only when paused */
.overflow-x-auto {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar but keep functionality */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.border-gradient {
  position: relative;
  background: transparent;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, black, rgb(53, 53, 54));
  transform: translate(0, 1px);
  z-index: -1;
}

.border-gradient > figure {
  position: relative;
  background: #000;
  border-radius: 10px;
  margin: 1px;
  z-index: 1;
}
